.titulo {
  margin-top: 2%;
  font-size: 50px;
  margin-bottom: 3%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #b2c3d5;
  transition: 0.3s;
  margin-bottom: 20px;
}

.span {
  margin-bottom: 2%;
}

.espaco {
  margin-right: 10px;
}