<div class="container titulo">

  <span>Bem Vindo(a)!</span>

</div>

<div class="container">

  <div class="row justify-content-md-center">
    <div class="col col-md-5 card" style="background-color: rgba(44, 246, 78, 0.7);" routerLink="/vendas">
      <i class="fa fa-cart-plus icone-card"></i>
      <a class="link">Vendas</a>
    </div>

    <div class="col col-md-5 card" style="background-color: rgba(246, 128, 44, 0.7);" routerLink="/pontos">
      <i class="fa fa-coins icone-card"></i>
      <a class="link">Pontos</a>
    </div>
  </div>

  <div class="row justify-content-md-center">
      <div class="col col-md-5 card" style="background-color: rgba(45, 100, 250, 0.7);" routerLink="/clientes">
        <i class="fa fa-users icone-card"></i>
        <a class="link">Clientes</a>
      </div>
  
      <div class="col col-md-5 card" style="background-color: rgba(189, 44, 246, 0.7);" routerLink="/cidades">
        <i class="fa fa-city icone-card"></i>
        <a class="link">Cidades</a>
      </div>
    </div>

</div>
